/*
	Theme Name: MP Ministry 2015 Theme based on HTML5 Blank by Todd Motto (http://toddmotto.com)
	Theme URI: http://www.mattjennings.net/
	Description: HTML5 Blank WordPress Theme
	Version: 0.0.1
	Author: Matt Jennings
	Author URI: http://www.mattjennings.net/
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

// ****** SASS Variables and Mixins ******
// Colors
$white: #fff;
$off-white: #f2f2f2;
$black: #000;
$brown: #744737;
$turquoise: #00bcc9;
$dark-turquoise: #00b3e3;

// Anchor Tags
@mixin my-anchor-tag($link-color: $dark-turquoise) {
  a {
    color: $link-color;

    &:link, &:visited {
      color: $link-color;
      text-decoration: underline;
    }

    &:hover, &:active {
      color: $link-color;
      text-decoration: none;
    }
  }
}

// Border Radius
@mixin my-border-radius($my-border-radius: 5px) {
  border-radius: $my-border-radius;
  -moz-border-radius: $my-border-radius;
  -o-border-radius: $my-border-radius;
  -webkit-border-radius: $my-border-radius;
}

// Border, Padding, Margin
@mixin my-border($my-target-border, $my-border-width, $my-border-color) {
  border: solid $my-border-color;

  @if $my-target-border == top {
    border-width: $my-border-width 0 0;
  }
  @else if $my-target-border == bottom {
    border-width: 0 0 $my-border-width;
  }
  @else if $my-target-border == vertical {
    border-width: $my-border-width 0;
  }
  @else if $my-target-border == horizontal {
    border-width: 0 $my-border-width;
  }
  @else if $my-target-border == all {
    border-width: $my-border-width;
  }
}

@mixin my-padding($my-padding-target, $my-padding-size) {

  @if $my-padding-target == top {
    padding: $my-padding-size 0 0;
  }
  @else if $my-padding-target == bottom {
    padding: 0 0 $my-padding-size;
  }
  @else if $my-padding-target == vertical {
    padding: $my-padding-size 0;
  }
  @else if $my-padding-target == horizontal {
    padding: 0 $my-padding-size;
  }
  @else if $my-padding-target == all {
    padding: $my-padding-size;
  }
}

// ****** Body and General CSS ******
body {
  font: 18px/36px Helvetica, Arial, sans-serif;
  color: $black;
  background: $dark-turquoise;
  // Anchor tag styles
  @include my-anchor-tag;
}

.center {
  text-align: center;
}

.button-link {
  color: $white;
  background: $turquoise;
  font-size: 36px;
  padding: 10px 40px;

  &:link, &:visited,
  &:hover, &:active {
    color: $white;
    text-decoration: none;
  }
}

// Featured Image
#featured-image-container {
  width: 300px;
  float: right;

  .thumbnail-caption {
    font-weight: bold;
    text-align: center;
  }
}

// Mobile Hide and Show
.mobile-hide {
  display: block;
}

.mobile-show {
  display: none;
}

// Text color
.black-text {
  color: $black !important;
}


// ****** Header ******
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: $white;
  @include my-border(bottom, 4px, $turquoise);

  .wrapper {
    max-width: 1030px;
    padding: 0 50px;
    height: 100%;
    margin: 0 auto;

    #logo {
      display: block;
      width: 314px;
      height: 67px;
      float: left;
      background: url(img/logo.png) no-repeat top left;
      text-indent: -9999px;
      margin: 9px 0 0;
    }

    #contact-info {
      width: 470px;
      float: right;
      font-weight: bold;
      text-align: right;
      @include my-anchor-tag($black);
    }

    #desktop-nav {
      width: 500px;
      float: right;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: right;
      }

      li {
        display: inline-block;

        a {
          color: $brown;
          font-size: 20px;
          font-weight: bold;
          display: inline-block;
          margin: 0 30px;
          padding: 0;
          line-height: 35px;

          &:link, &:visited {
            color: $brown;
            text-decoration: none;
          }
          &:hover, &:active {
            color: $brown;
            text-decoration: none;
            @include my-border(bottom, 4px, $turquoise);
          }
        }
      }

      li:first-of-type {
        a {
          margin: 0 30px 0 0;
        }
      }

      li:last-of-type {
        a {
          margin: 0 0 0 30px;
        }
      }

      li.active a {
        @include my-border(bottom, 4px, $turquoise);
      }
    }
  }

  #mobile-nav-button {
    display: none;
  }

  #mobile-nav {
    display: none;
  }
}

// ****** Main Content ******
#content {
  margin: 90px 0 0;
  background: $off-white;

  .wrapper {
    max-width: 1030px;
    min-height: 150px;
    margin: 0 auto;
    padding: 44px 50px 30px;

    h1 {
      font-size: 60px;
      line-height: 60px;
      padding: 0;
      margin: 0 0 30px;
    }

    h2 {
      font-size: 36px;
      line-height: 50px;
      color: $brown;
      margin: 0 0 20px;
    }

    h3 {
      font-size: 24px;
      color: $brown;
      margin: 0 0 20px;
    }

    p {
      margin: 0 0 20px;
    }
  }
}


// ****** Footer ******
footer {
  background: $dark-turquoise;
  height: 80px;
  color: $white;

  p {
    line-height: 80px;
    text-align: center;
  }
}

// ****** Home Page ******
.page-home {
  // Content
  #content {
    height: 840px;
    margin: 90px 0 -247px;
    background: $off-white no-repeat top right;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;

    .wrapper {
      h1 {
        color: $white;
        text-align: center;
      }

      h2 {
        color: $white;
        text-align: center;
        margin: 0 0 50px;
      }
    }
  }

  // Footer
  footer {
    height: 247px;
  }
}


// ****** WordPress Editor Styles (TinyMCE) ******
body#tinymce {
  background: $off-white;

  h2 {
    font-size: 36px;
    line-height: 50px;
    color: $brown;
    margin: 0 0 20px;
  }

  h3 {
    font-size: 24px;
    color: $brown;
    margin: 0 0 20px;
  }

  p {
    margin: 0 0 20px;
  }
}


// ****** Breakpoint for 992px wide or smaller ******
// ****** (start of mobile styles) ******
@media screen and (max-width: 992px) {
  // Body
  body {
    font: 16px/34px Helvetica, Arial, sans-serif;
  }

  // Featured Image
  #featured-image-container {
    width: 300px;
    padding: 20px 0 0;
    margin: 0 auto;
    float: none;
  }

  // Header
  header {
    height: 50px;

    .wrapper {
      height: 100%;
      margin: 0 auto;

      h1 {
        font-size: 50px;
        line-height: 50px;
      }

      #logo {
        width: 180px;
        height: 38px;
        background-position: 0 -71px;
        margin: 5px 0 0;
      }

      #contact-info {
        display: none;
      }

      #desktop-nav {
        display: none;
      }
    }

    // Element below overrides the WordPress "dashicons-menu"
    // which is looks like a hamburger menu used on a mobile nav - see:
    // https://developer.wordpress.org/resource/dashicons/#menu
    #mobile-nav-button {
      display: block;
      float: right;
      font-size: 1px !important;
      letter-spacing: -1px;
      color: transparent;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
    }

    #mobile-nav-button:before {
      color: $brown !important;
      font-size: 60px !important;
      line-height: 50px;
      letter-spacing: normal;
    }

    #mobile-nav {
      position: absolute;
      z-index: 2000;
      width: 100%;
      top: 46px;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
      }

      li {
        padding: 0;
        margin: 0;
        width: 100%;
      }

      a {
        display: block;
        width: 100%;
        line-height: 50px;
        text-align: center;
        background-color: $turquoise;
        color: $white;
        @include my-border(bottom, 2px, $brown);

        &:link, &:visited {
          text-decoration: none;
          color: $white;
        }

        &:hover, &:active {
          text-decoration: none;
          background-color: $brown;
        }
      }

      li.active a {
        background-color: $brown;
      }

      // Email and Call Nav Mobile Icons
      li.menu-item-email a {
        background-image: url(img/icons/email-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
      }

      li.menu-item-call a {
        background-image: url(img/icons/phone-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  // Main Content
  #content {
    margin: 50px 0 0;

    .wrapper {
      padding: 15px 50px;

      h1 {
        font-size: 45px;
        line-height: 45px;
        margin: 0 0 15px;
      }

      h2 {
        font-size: 26px;
        line-height: 40px;
        margin: 0 0 10px;
      }

      h3 {
        font-size: 20px;
        margin: 0 0 10px;
      }

      p {
        margin: 0 0 10px;
      }
    }
  }

  // Home
  .page-home {

    // Content
    #content {
      height: 270px;
      background: $off-white no-repeat bottom center;
      background-size: auto;
      -moz-background-size: auto;
      -o-background-size: auto;
      -webkit-background-size: auto;
      margin: 50px 0 0;

      .wrapper {
        padding: 10px 50px 15px;

        h1 {
          font-size: 30px;
          margin: 0 0 20px;
        }

        h2 {
          font-size: 16px;
          line-height: 24px;
          margin: 0 0 40px;
        }

        .button-link {
          font-size: 22px;
          padding: 10px 30px;
        }
      }
    }

    // Footer
    footer {
      height: 80px;
    }
  }

  // Mobile Hide and Show
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
  }
}

// ****** Breakpoint for 480px wide or smaller ******
@media screen and (max-width: 480px) {
  // Header
  header {
    .wrapper {
      padding: 0 20px;
    }
  }

  // Content
  #content {
    .wrapper {
      padding: 0 15px 20px;
    }
  }

  // Footer
  footer {
    height: 50px;
    font-size: 12px;

    p {
      line-height: 50px;
      text-align: center;
    }
  }

  // Home
  .page-home {
    #content {
      .wrapper {
        padding: 0 20px 15px;

        h1 {
          margin: 0;
        }

        h2 {
          margin: 0 0 20px;
        }

        .button-link {
          padding: 5px 30px;
        }
      }
    }

    // Footer
    footer {
      height: 50px;
    }
  }
}

// ****** Breakpoint for 400px wide or smaller ******
@media screen and (max-width: 400px) {
  // Featured Image
  #featured-image-container {
    width: 90%;

    img {
      width: 100%;
    }
  }
}



/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}






/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
