/*
	Theme Name: MP Ministry 2015 Theme based on HTML5 Blank by Todd Motto (http://toddmotto.com)
	Theme URI: http://www.mattjennings.net/
	Description: HTML5 Blank WordPress Theme
	Version: 0.0.1
	Author: Matt Jennings
	Author URI: http://www.mattjennings.net/
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
body {
  font: 18px/36px Helvetica, Arial, sans-serif;
  color: #000;
  background: #00b3e3;
}
body a {
  color: #00b3e3;
}
body a:link, body a:visited {
  color: #00b3e3;
  text-decoration: underline;
}
body a:hover, body a:active {
  color: #00b3e3;
  text-decoration: none;
}
.center {
  text-align: center;
}
.button-link {
  color: #fff;
  background: #00bcc9;
  font-size: 36px;
  padding: 10px 40px;
}
.button-link:link, .button-link:visited, .button-link:hover, .button-link:active {
  color: #fff;
  text-decoration: none;
}
#featured-image-container {
  width: 300px;
  float: right;
}
#featured-image-container .thumbnail-caption {
  font-weight: bold;
  text-align: center;
}
.mobile-hide {
  display: block;
}
.mobile-show {
  display: none;
}
.black-text {
  color: #000 !important;
}
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #fff;
  border: solid #00bcc9;
  border-width: 0 0 4px;
}
header .wrapper {
  max-width: 1030px;
  padding: 0 50px;
  height: 100%;
  margin: 0 auto;
}
header .wrapper #logo {
  display: block;
  width: 314px;
  height: 67px;
  float: left;
  background: url(img/logo.png) no-repeat top left;
  text-indent: -9999px;
  margin: 9px 0 0;
}
header .wrapper #contact-info {
  width: 470px;
  float: right;
  font-weight: bold;
  text-align: right;
}
header .wrapper #contact-info a {
  color: #000;
}
header .wrapper #contact-info a:link, header .wrapper #contact-info a:visited {
  color: #000;
  text-decoration: underline;
}
header .wrapper #contact-info a:hover, header .wrapper #contact-info a:active {
  color: #000;
  text-decoration: none;
}
header .wrapper #desktop-nav {
  width: 500px;
  float: right;
}
header .wrapper #desktop-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
header .wrapper #desktop-nav li {
  display: inline-block;
}
header .wrapper #desktop-nav li a {
  color: #744737;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 30px;
  padding: 0;
  line-height: 35px;
}
header .wrapper #desktop-nav li a:link, header .wrapper #desktop-nav li a:visited {
  color: #744737;
  text-decoration: none;
}
header .wrapper #desktop-nav li a:hover, header .wrapper #desktop-nav li a:active {
  color: #744737;
  text-decoration: none;
  border: solid #00bcc9;
  border-width: 0 0 4px;
}
header .wrapper #desktop-nav li:first-of-type a {
  margin: 0 30px 0 0;
}
header .wrapper #desktop-nav li:last-of-type a {
  margin: 0 0 0 30px;
}
header .wrapper #desktop-nav li.active a {
  border: solid #00bcc9;
  border-width: 0 0 4px;
}
header #mobile-nav-button {
  display: none;
}
header #mobile-nav {
  display: none;
}
#content {
  margin: 90px 0 0;
  background: #f2f2f2;
}
#content .wrapper {
  max-width: 1030px;
  min-height: 150px;
  margin: 0 auto;
  padding: 44px 50px 30px;
}
#content .wrapper h1 {
  font-size: 60px;
  line-height: 60px;
  padding: 0;
  margin: 0 0 30px;
}
#content .wrapper h2 {
  font-size: 36px;
  line-height: 50px;
  color: #744737;
  margin: 0 0 20px;
}
#content .wrapper h3 {
  font-size: 24px;
  color: #744737;
  margin: 0 0 20px;
}
#content .wrapper p {
  margin: 0 0 20px;
}
footer {
  background: #00b3e3;
  height: 80px;
  color: #fff;
}
footer p {
  line-height: 80px;
  text-align: center;
}
.page-home #content {
  height: 840px;
  margin: 90px 0 -247px;
  background: #f2f2f2 no-repeat top right;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.page-home #content .wrapper h1 {
  color: #fff;
  text-align: center;
}
.page-home #content .wrapper h2 {
  color: #fff;
  text-align: center;
  margin: 0 0 50px;
}
.page-home footer {
  height: 247px;
}
body#tinymce {
  background: #f2f2f2;
}
body#tinymce h2 {
  font-size: 36px;
  line-height: 50px;
  color: #744737;
  margin: 0 0 20px;
}
body#tinymce h3 {
  font-size: 24px;
  color: #744737;
  margin: 0 0 20px;
}
body#tinymce p {
  margin: 0 0 20px;
}
@media screen and (max-width: 992px) {
  body {
    font: 16px/34px Helvetica, Arial, sans-serif;
  }
  #featured-image-container {
    width: 300px;
    padding: 20px 0 0;
    margin: 0 auto;
    float: none;
  }
  header {
    height: 50px;
  }
  header .wrapper {
    height: 100%;
    margin: 0 auto;
  }
  header .wrapper h1 {
    font-size: 50px;
    line-height: 50px;
  }
  header .wrapper #logo {
    width: 180px;
    height: 38px;
    background-position: 0 -71px;
    margin: 5px 0 0;
  }
  header .wrapper #contact-info {
    display: none;
  }
  header .wrapper #desktop-nav {
    display: none;
  }
  header #mobile-nav-button {
    display: block;
    float: right;
    font-size: 1px !important;
    letter-spacing: -1px;
    color: transparent;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
  }
  header #mobile-nav-button:before {
    color: #744737 !important;
    font-size: 60px !important;
    line-height: 50px;
    letter-spacing: normal;
  }
  header #mobile-nav {
    position: absolute;
    z-index: 2000;
    width: 100%;
    top: 46px;
  }
  header #mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  header #mobile-nav li {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  header #mobile-nav a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #00bcc9;
    color: #fff;
    border: solid #744737;
    border-width: 0 0 2px;
  }
  header #mobile-nav a:link, header #mobile-nav a:visited {
    text-decoration: none;
    color: #fff;
  }
  header #mobile-nav a:hover, header #mobile-nav a:active {
    text-decoration: none;
    background-color: #744737;
  }
  header #mobile-nav li.active a {
    background-color: #744737;
  }
  header #mobile-nav li.menu-item-email a {
    background-image: url(img/icons/email-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  header #mobile-nav li.menu-item-call a {
    background-image: url(img/icons/phone-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  #content {
    margin: 50px 0 0;
  }
  #content .wrapper {
    padding: 15px 50px;
  }
  #content .wrapper h1 {
    font-size: 45px;
    line-height: 45px;
    margin: 0 0 15px;
  }
  #content .wrapper h2 {
    font-size: 26px;
    line-height: 40px;
    margin: 0 0 10px;
  }
  #content .wrapper h3 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  #content .wrapper p {
    margin: 0 0 10px;
  }
  .page-home #content {
    height: 270px;
    background: #f2f2f2 no-repeat bottom center;
    background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    -webkit-background-size: auto;
    margin: 50px 0 0;
  }
  .page-home #content .wrapper {
    padding: 10px 50px 15px;
  }
  .page-home #content .wrapper h1 {
    font-size: 30px;
    margin: 0 0 20px;
  }
  .page-home #content .wrapper h2 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 40px;
  }
  .page-home #content .wrapper .button-link {
    font-size: 22px;
    padding: 10px 30px;
  }
  .page-home footer {
    height: 80px;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  header .wrapper {
    padding: 0 20px;
  }
  #content .wrapper {
    padding: 0 15px 20px;
  }
  footer {
    height: 50px;
    font-size: 12px;
  }
  footer p {
    line-height: 50px;
    text-align: center;
  }
  .page-home #content .wrapper {
    padding: 0 50px 15px;
  }
  .page-home #content .wrapper h1 {
    margin: 0;
  }
  .page-home #content .wrapper h2 {
    margin: 0 0 20px;
  }
  .page-home footer {
    height: 50px;
  }
}
@media screen and (max-width: 400px) {
  /*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/  #featured-image-container {
    width: 90%;
  }
  #featured-image-container img {
    width: 100%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /*------------------------------------*\
    PRINT
\*------------------------------------*/}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
